
.img{
    background-image: url(https://theworldtravelguy.com/wp-content/uploads/2020/03/DSCF2045-2-1170x780.jpg);
      width: 76%;
    height: 90vh;
    margin: 0px 160px ;
}
.topic{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding: 20px 0px 0px 0px;
}
.topic1{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
.para{
    color: #fffbfb;
    font-size: 16px;
    line-height: 1.6;
    margin: 0px 200px;
    padding: 20% 0px 0px 0px;
}



*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
}


.video-grid{
  display:grid;
  grid-template-columns:repeat(3, 1fr); /* 3 per row */
  gap:20px;
  max-width:1200px;
  margin:40px auto;
}


.card{
  background:#fff;
  border-radius:12px;
  padding:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
  text-align:center;
}

.card iframe{
  width:100%;
  height:200px;
  border-radius:8px;
  border:none;
}

.card h3{
  margin-top:10px;
  font-size:18px;
}

.card p{
  font-size:14px;
  color:#555;
}

