<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Footer</title>
         <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<footer class="site-footer">
  <div class="social-icons">
    <i class="fab fa-facebook-f"><img src="https://cdn-icons-png.flaticon.com/512/3536/3536394.png" width="16" height="16" alt="" title="" class="img-small"></i>
    <i class="fab fa-instagram"><img src="	https://cdn-icons-png.flaticon.com/512/3955/3955024.png" width="16" height="16" alt="" title="" class="img-small"></i>
    <i class="fab fa-youtube"><img src="https://cdn-icons-png.flaticon.com/512/174/174883.png" alt="" width="16" height="16"></i>
    <i class="fab fa-pinterest"><img src="	https://cdn-icons-png.flaticon.com/128/3536/3536559.png" alt="" width="16" height="16"></i>
    <i class="fab fa-tiktok"><img src="	https://cdn-icons-png.flaticon.com/128/3046/3046121.png" alt="" width="16" height="16"></i>
    <i class="fas fa-envelope"><img src="	https://cdn-icons-png.flaticon.com/128/11999/11999825.png" alt=""  width="16" height="16"></i>
    <i class="fas fa-rss"><img src="	https://cdn-icons-png.flaticon.com/128/2504/2504935.png" alt="" width="16" height="16"></i>
  </div>

  <hr>

  <p class="copyright">© The World Travel Guy 2026</p>

  <p class="links">
    <a href="#">Affiliate Disclosures</a> •
    <a href="#">Privacy Policy</a> •
    <a href="#">Terms Of Use</a>
  </p>

  <p class="note">
    Some of the pages on my travel blog contain affiliate links. Whenever you buy something
    through one of these links, I get a small commission at no extra cost to you. As an affiliate,
    I only recommend products and services that I feel are high quality and helpful to my readers.
    Thanks for your support.
  </p>
</footer>

</body>
</html>

