* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

body {
  background: #111;
}

.site-footer {
  background: #0b0b0b;
  color: #aaa;
  text-align: center;
  padding: 60px 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 18px;
  margin-bottom: 30px;
}

.social-icons i {
  color: #aaa;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  color: #ff6a3d;
}

hr {
  width: 80%;
  border: none;
  border-top: 1px solid #222;
  margin: 30px auto;
}

.copyright {
  font-size: 14px;
  margin-bottom: 10px;
  color: #888;
}

.links {
  margin-bottom: 20px;
}

.links a {
  color: #ff6a3d;
  text-decoration: none;
  font-size: 14px;
}

.links a:hover {
  text-decoration: underline;
}

.note {
  max-width: 800px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 1.7;
  color: #777;
}
