<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body>


<div class="gallery">
  <h2>Canada Videos</h2>

  <div class="video-grid">
    <div class="card" *ngFor="let v of videos">
      <h3>{{v.name}}</h3>
      <p>{{v.description}}</p>
      <p>{{v.location}}</p>

      <iframe [src]="v.videoLink | safe" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

</body>
</html>
