<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="img">
               <div class="para">
                <h1 class="topic">CONTACT</h1>
                <P  class="topic1">send me your question, comments, or suggestions!</P>
               </div>
        </div>  
        
        
        
<section class="contact">
    <div class="line"></div>
    <p class="small-title">GET IN TOUCH</p>
    <h2>Contact Form</h2>

    <p class="subtitle">
        Send me your questions, comments, or suggestions!
    </p>

    <p class="text">
        If you'd like to work with me or you have a question or comment, you can
        contact me using the form below. You can also find
        <span>more info about me here.</span>
    </p>

    <p class="note">
        Sometimes I'm busy traveling, but I try to respond to any messages!
    </p>
</section>


<section class="contact-section">
    <div class="titlew">
    <p class="small-title">CONTACT</p>
    <h2>Let's talk!</h2>
    </div>
    <hr>

    <form class="contact-form">
      <div class="row">
        <input type="text" placeholder="Name*" required>
        <input type="email" placeholder="Email*" required>
        <input type="text" placeholder="Subject">
      </div>

      <textarea placeholder="Your Message"></textarea>

      <button type="submit">SUBMIT</button>
    </form>
</section>


<section class="faq-section">
  <p class="small-title">FREQUENTLY ASKED QUESTIONS</p>
  <h2>FAQs</h2>
  <hr>

  <div class="faq-container">

    <div class="faq-box">
      <div class="icon">✈</div>
      <h3>Do you accept guest blogs?</h3>
      <p>
        No, I do not accept guest blog posts on my site.  
        I do all of the writing myself.
      </p>
    </div>

    <div class="faq-box">
      <div class="icon">✈</div>
      <h3>Can I quote you as an expert source?</h3>
      <p>
        Sure, I’m generally happy to provide a quote as  
        an expert source in your article for topics like  
        travel, hiking, gear, culture, and more.
      </p>
      <p class="muted">
        I've been referenced or featured by many media outlets including  
        TIME, USA Today, NBC News, BBC Travel, Travel+Leisure, and lots of  
        international tourism bureaus.
      </p>
    </div>

    <div class="faq-box">
      <div class="icon">✈</div>
      <h3>Can I buy drone footage from you?</h3>
      <p>
        Sure, just send me a note letting me know what  
        footage you’re interested in!
      </p>
    </div>

  </div>
</section>
    </div>
</body>
</html>
