*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.img{
    background-image: url('https://media.istockphoto.com/id/1063714006/photo/confident-hikers-carrying-backpacks-and-looking-ready-for-trip.jpg?s=1024x1024&w=is&k=20&c=MTJ1RM3GkpLrsmsilJZXusggov_oF_AH8KoGY33tn2g=');
    width: 76%;
    height: 90vh;
    margin: 0px 160px ;
}



.contact {
    text-align: center;
    max-width: 700px;
    margin: 80px auto;
    padding: 20px;
}

.line {
    width: 80px;
    height: 2px;
    background: #ddd;
    margin: 0 auto 10px;
}

.small-title {
    color: #ff7a3d;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.contact h2 {
    font-size: 32px;
    font-style: italic;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    color: #444;
}

.text {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.text span {
    color: #ff7a3d;
    cursor: pointer;
}

.note {
    color: #777;
    font-size: 15px;
}

.para{
  padding: 220px 40px;
    font-size: 20px;
    color: #f7f4f4;
    
}

.topic{
    color: #b1aeae;
    padding: 0px 39%;}

    .topic1{
        color: #b1aeae;
    padding: 0px 200px;}



    .contact-section {
  width: 100%;
  max-width: 1200px;
  margin: 0px 60px;
}

.small-title {
  color: #ff6a3d;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin: 0px 30px ;

}
.titlew{
    margin: 0px 43%;
}

h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ddd;
  margin-bottom: 30px;
}

.contact-form .row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.contact-form input {
  flex: 1;
  padding: 14px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.contact-form textarea {    
  width: 100%;
  height: 150px;
  padding: 14px;
  border: 1px solid #ddd;
  outline: none;
  resize: none;
  font-size: 14px;
  margin-bottom: 30px;
}

button {
  padding: 12px 30px;
  border: none;
  background: #f2f2f2;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff6a3d;
  color: #fff;
}
// idfuydfuyduy6df
.faq-section {
  max-width: 1100px;
  margin: 80px auto;
  text-align: center;
  padding: 0 20px;
}

.small-title {
  color: #ff6a3d;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

hr {
  width: 80px;
  border: none;
  border-top: 2px solid #ddd;
  margin: 0 auto 40px;
}

.faq-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.faq-box {
  width: 30%;
}

.icon {
  width: 60px;
  height: 60px;
  background: #ff6a3d;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin: 0 auto 20px;
}

.faq-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.faq-box p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.muted {
  margin-top: 15px;
  font-size: 13px;
  color: #777;
}