<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
             <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
      <div class="header">
        <div class="img">
          <h1 class="title">GALLERY</h1>
          <p class="subtitle">A collection of my travel photos</p>
          </div>

          <div class="gallery-grid">
  <div class="card" *ngFor="let g of galleries">
    <img [src]="g.imageUrl">
    <h3>{{ g.title }}</h3>
    <p>{{ g.location }}, {{ g.country }}</p>
  </div>
</div>

      </div>
</body>
</html>
