*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.img{
    background-image: url(https://theworldtravelguy.com/wp-content/uploads/2020/03/DSCF2045-2-1170x780.jpg);
    width: 87%;
    height: 100vh;
    margin: 0px 80px ;
    padding: 18% 0px 0px 0px;
}

.title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding: 20px 0px 0px 0px;

}
.subtitle{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}


.blog-header {
  width: 100%;
  padding: 30px 20px;
  margin: 10px 0px;
}

.blog-header h2 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.line {
  width: 100%;
  height: 2px;
  background: #e5e5e5;
  position: relative;
}

.line::before {
  content: "";
  width: 40px;
  height: 2px;
  background: #ff6a3d;
  position: absolute;
  left: 0;
  top: 0;
}