<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
         <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="admin-container card">
  <h2>Add Gallery Photo</h2>

  <input [(ngModel)]="form.title" placeholder="Title"><br>
  <input [(ngModel)]="form.imageUrl" placeholder="Image URL"><br>
  <input [(ngModel)]="form.location" placeholder="Location"><br>
  <input [(ngModel)]="form.country" placeholder="Country"><br>

  <button (click)="submit()">Save</button>
</div>


</body>
</html>
