*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.featured-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0; 
  gap: 15px; 
}

.featured-container::before,
.featured-container::after {
  content: "";
  flex: 1; 
  height: 3px;
  background-color: #ddd; 
}

.featured-title {
  font-weight: 900; 
  font-size: 40px;
  margin: 0;
  white-space: nowrap; 
}
.logo{
    gap: 10px;
    margin: 0px 300px ;
}

.photo{
    display: flex;
    gap: 30px;
}

  .img{
    width: 10%;
  }

  .travel-blog{
    padding: 10px;
    
  }
  .para{
    align-items: center;
    padding: 20px 150px;
    font-weight: 900;
    font-size: 18px;
  }

  .para1{
     align-items: center;
    padding: 20px 100px;
    font-weight: 900;
    font-size: 18px;
  }

  @media (max-width: 768px) {
     .photo{
    display: flex;
    gap: 10px;
}
.travel-blog{
    padding: 10px;
    font-size: 10px;
  }
  .img img {
    width: 225px;   
    height: auto;  
  }

  .para1{
     align-items: center;
    padding: 10px 50px;
    font-size: 10px;
  }
  .para{
    align-items: center;
    padding: 10px 50px;
    font-size: 10px;
  }
  .logo img{
    width: 200px;
  }
   
  }
  
  @media (max-width: 426px) {
    .logo img{
      width: 50px;
      padding-right: 10%;
    }

    .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .travel-blog {
    width: 100%;
    text-align: center;
  }

  .img img {
    width: 71vh;
    height: auto;
  }
 .logo img{
   display: none;
  }
  
  }