*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.title{
    background-color: rgb(17,17,17);
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.home {
  color: rgb(235, 229, 229);
  font-size: 17px;
  font-weight: 550;
  cursor: pointer;
  position: relative;
}


.home::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}
.home:hover {
  color: orange;
}

.home:hover::after {
  width: 100%;
}

.blog {
  color:  rgb(235, 229, 229);
  font-size: 17px;
   font-weight: 550;
  cursor: pointer;
  position: relative;
}


.blog::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}
.blog:hover {
  color: orange;
}

.blog:hover::after {
  width: 100%;
}

.desination {
  color: rgb(235, 229, 229);
  font-size: 17px;
  padding: 0px 0px 30px 0px;
  font-weight: 550;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.desination::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}

.desination:hover {
  color: orange;
}

.desination:hover::after {
  width: 100%;
}
.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #242323;
  min-width: 130px;
  border-radius: 6px;
  padding: 10px 20px ;
  align-items: center;
  margin: 0px 0px 50px 0px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 10;
  font-size: 14px;
  font-weight: 300px;
}

.dropdown-item{
    padding: 4px 5px;
    margin: 0px;
    border-radius: 2px;
}
.dropdown-item:hover{
    background-color: rgb(83, 80, 80);
}

.categortes,.desination:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.item {
  padding: 8px 16px;
  color: #ddd;
  font-size: 14px;
  transition: background 0.2s ease, color 0.2s ease;
}

.item:hover {
  background-color: orange;
  color: #000;
}


.categortes {
  color: rgb(235, 229, 229);
  margin: 0px 0px 30px 0px;
  font-size: 17px;
  font-weight: 550;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}
.categortes::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px; 
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}

.categortes:hover {
  color: orange;
}

.categortes:hover::after {
  width: 100%;
}


.categortes .dropdown1 {
  position: absolute;
  top: 35px; 
  left: 0;
  background-color: #111;
  border-radius: 6px;
  min-width: 160px;
  padding: 10px 0;
  display: none; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  z-index: 10;
}


.categortes .dropdown-item1 {
  padding: 8px 16px;
  color: #ddd;
  font-size: 14px;
  transition: background 0.2s ease, color 0.2s ease;
}

.categortes .dropdown-item1:hover {
  background-color: orange;
  color: #000;
}

.categortes:hover .dropdown1 {
  display: block;
}

.gallery{
  color:  rgb(235, 229, 229);
  font-size: 17px;
   font-weight: 550;
  cursor: pointer;
  position: relative;
}


.gallery::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}
.gallery:hover {
  color: orange;
}

.gallery{
  color:  rgb(235, 229, 229);
  font-size: 17px;
   font-weight: 550;
  cursor: pointer;
  position: relative;
}


.gallery::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}
.gallery:hover {
  color: orange;
}

.gallery:hover::after {
  width: 100%;
}


.about{
  color:  rgb(235, 229, 229);
  font-size: 17px;
   font-weight: 550;
  cursor: pointer;
  position: relative;
}


.about::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}
.about:hover {
  color: orange;
}

.about{
  color:  rgb(235, 229, 229);
  font-size: 17px;
   font-weight: 550;
  cursor: pointer;
  position: relative;
}


.about::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}
.about:hover {
  color: orange;
}

.about:hover::after {
  width: 100%;
}

.contact{
  color:  rgb(235, 229, 229);
  font-size: 17px;
   font-weight: 550;
  cursor: pointer;
  position: relative;
}


.contact::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 26px;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}
.contact:hover {
  color: orange;
}

.contact{
  color:  rgb(235, 229, 229);
  font-size: 17px;
   font-weight: 550;
  cursor: pointer;
  position: relative;
}


.contact::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}
.contact:hover {
  color: orange;
}

.contact:hover::after {
  width: 100%;
}

.title{
    display: flex;
}
.nav-right{
    display: flex;
    gap: 24px;
    padding: 30px 0px 0px 40px;
}

.menu-toggle{
  display:none;
  font-size:26px;
  cursor:pointer;
}

@media(max-width:768px){

  .penci-logo{
   width: 260px;
  height: 50px;
  margin-top: 10px;
  }
  .nav-right{
    gap: 11px;
    
   }
.home{font-size: 10px;}
 .blog{font-size: 10px;}
 .desination{font-size: 10px;}
  .gallery{font-size: 10px;}
  .about{font-size: 10px;}
  .contact{font-size: 10px;} 
  .categortes{font-size: 10px;}
  .desination img{
    display: none;
  }
  .categortes img{
    display: none;
  }
  .gallery img{
    display: none;
  }
  .logo{
    display: none;
  }
}

  @media(max-width:426px){
   
  .nav-right {
    flex-direction: column;
    align-items: flex-start;
    background: #111;
    width: 100%;
    padding: 15px;
  }

  .nav-right > div {
    width: 100%;
    padding: 0px 40% 0px 0%;
    border-bottom: 1px solid #333;
    color: white;
  }

  .dropdown, .dropdown1 {
    position: static;
    width: 100%;
    box-shadow: none;
    background: #222;
  }

  .dropdown-item, .dropdown-item1 {
    color: #fff;
    padding-left: 20px;
  }

 
  .desination img,
  .categortes img {
    float: right;
    transform: rotate(90deg);
  }


  .logo {
    margin-top: 10px;
  }

  // efvreg

  .mobile-menu-btn {
   
    font-size: 26px;
    color: white;
    cursor: pointer;
    padding: 13px 0px 0px 25% ;
   
   
  }

  .nav-right {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #111;
    animation: slideDown 0.4s ease;
    padding: 0px 0px 0px 0px;
    margin: 0px 40% 0px 0px;
  }

  .nav-right.show {
    display: flex;
  }

  .nav-right > div {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid #333;
    color: white;
  }

  .dropdown, .dropdown1 {
    position: static;
    display: none;
    background: #222;
    padding: 0px 0px 0px 0px;
   
  }

  .desination.open .dropdown,
  .categortes.open .dropdown1 {
    display: block;
  }


/* Slide effect */
@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
  }


  }